{% load static %}
<!DOCTYPE html>
<html class="dark">
<head>
    <title>Echofind</title>
    <link rel="stylesheet" href="{% static 'echofind.css' %}">
    <link href="https://fonts.cdnfonts.com/css/cubano" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <script src="{% static 'echofindScripts.js' %}" defer></script>
    
</head>
<body>
    <div id="user-info">
        {% if request.session.email %}
            <p>Logged as: {{ request.session.email }}</p>
            <button class="small-btn logout-btn" onclick="logoutUser()">Logout</button>
        {% endif %}
    </div>
    
    <div class="container">
        <div>
            <h1 class="text-6xl">ECHO<span class="gradient-text">FIND</span></h1>
            <form id="searchForm" onsubmit="event.preventDefault(); searchFiles();">
                <input class="searchbar" type="text" id="searchInput" placeholder="Search...">
                <button class="small-btn">SEARCH</button>
            </form>
        </div>

        <div>
            <h2 style="margin-bottom: 40px">UPLOAD A FILE</h2>
            <div id="drag-and-drop-area" class="drag-and-drop-area" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)" ondragleave="dragLeaveHandler(event)">
                <p> Drag&drop your file here or select a file </p>
                <button class="select-btn" type="button" onclick="openFileInput()"><span>Select File</span><i></i></button>
            </div>
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url "file_api" %}"
                  ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
                {% csrf_token %}
                <input class="display-none" type="file" id="file" name="mp4file" accept="video/*">
            </form>
            <div class="loader">Uploading</div>
        </div>
    </div>
    
    
    <div class="search-container">
        <h3 id="searchResultsHeader">Search Results</h3>
        <ul id="searchResults" class="results-list"></ul>
        <div id="noResultsMessage">No results</div>
    </div>
    
    <h2 style="margin-top: 30px;">Uploaded files</h2>
    <ul>
        {% for file in files_list %}
        <li>
             <span class="files-link" onclick="downloadFile('{{ file }}')">{{ file }}</span>
        </li>
        {% endfor %}
    </ul>
</body>
</html>