{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echofind</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href="https://fonts.cdnfonts.com/css/cubano" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form id="verifyEmailForm" action="" style="display: none;">
            <h1>Verify Email!</h1>
            <p>Verification Email has been sent! Please verify your email before logging in.</p>
        </form>
        
        <form id="userLoginForm" action="">
            <h1>Login</h1>
            {% csrf_token %}
            <div class="input-box">
                <input type="email" id="login-email" placeholder="E-mail" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input-box">
                <input type="password" id="login-password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <button id="loginBtn" class="btn">Sign in</button>
            
            <div class="register-link">
                <p>Don't have an account? <span id="showRegisterForm">Register!</span></p>
            </div>
        </form>

        <form id="userRegisterForm" action="" style="display: none;">
            <h1>Register</h1>
            {% csrf_token %}
            <div class="input-box">
                <input type="email" id="register-email" placeholder="E-mail" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input-box">
                <input type="password" id="register-password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            
            <button id="registerBtn" class="btn">Sign up</button>
            <div class="register-link">
                <p>Already have an account? <span id="showLoginForm">Sign in!</span></p>
            </div>
        </form>
        
        <form class="invalid-form" id="errorForm" action="">
            <p id="errorMessage"></p>
        </form>
    </div>
<script>
        document.getElementById('showRegisterForm').addEventListener('click', function() {
            document.getElementById("errorForm").style.display = "none";
            document.getElementById("verifyEmailForm").style.display = "none";
            document.getElementById("login-email").style.borderColor = "";
            document.getElementById("loginBtn").style.background = "";
            document.getElementById('userLoginForm').style.display = 'none';
            document.getElementById('userRegisterForm').style.display = 'block';
        });
        
        document.getElementById('showLoginForm').addEventListener('click', function() {
            document.getElementById("errorForm").style.display = "none";
            document.getElementById("register-email").style.borderColor = "";
            document.getElementById("register-password").style.borderColor = "";
            document.getElementById('userRegisterForm').style.display = 'none';
            document.getElementById('userLoginForm').style.display = 'block';
        });
    
        document.addEventListener('DOMContentLoaded', function() {
            var loginBtn = document.getElementById('loginBtn');
            var emailInput = document.getElementById('login-email');
            var passwordInput = document.getElementById('login-password');
        
            
            loginBtn.addEventListener('click', function(event) {
                event.preventDefault();
                
                var email = emailInput.value;
                var password = passwordInput.value;
                
                
                loginUser(email, password);
            });
        });
        
        function hideErrorMessageAndStyles(){
            document.getElementById("verifyEmailForm").style.display = "none";
            document.getElementById("errorForm").style.display = "none";
            document.getElementById("login-email").style.borderColor = "";
            document.getElementById("loginBtn").style.background = "";
            document.getElementById("register-email").style.borderColor = "";
            document.getElementById("register-password").style.borderColor = "";
        }
            
        function displayLoginError(message, borderColor = "", buttonColor = ""){
            document.getElementById("errorMessage").textContent = message;
            document.getElementById("errorForm").style.display = "block";
            
            if (borderColor){
                document.getElementById("login-email").style.borderColor = borderColor;
            }
            
            if (buttonColor){
                document.getElementById("loginBtn").style.background = buttonColor;
            }
        }    
        
        function displayRegisterError(message, emailBorderColor = "", passwordBorderColor = ""){
            document.getElementById("errorMessage").textContent = message;
            document.getElementById("errorForm").style.display = "block";
            
            if (emailBorderColor){
                document.getElementById("register-email").style.borderColor = emailBorderColor;
            }
            
            if (passwordBorderColor){
                document.getElementById("register-password").style.borderColor = passwordBorderColor;
            }
        }
        
        function handleLoginError(error){
            hideErrorMessageAndStyles();
            
            if (error === "Email not verified"){
                document.getElementById("verifyEmailForm").style.display = "block";
                document.getElementById("userLoginForm").reset();
            } else if (error === "INVALID_LOGIN_CREDENTIALS"){
                displayLoginError("Incorrect password or email. Please try again.", "", "rgb(248, 107, 99)");
            } else if (error === "INVALID_EMAIL"){
                displayLoginError("Invalid email format. Please try again", "rgb(248, 107, 99)");
            }
        }   
        
        function handleRegisterError(error){
            hideErrorMessageAndStyles();
            
            if (error === "INVALID_EMAIL"){
                displayRegisterError("Invalid email format. Please try again", "rgb(248, 107, 99)");
            } else if (error === "EMAIL_EXISTS"){
                displayRegisterError("Email is already associated with an account. Please use another email address.", 
                    "rgb(248, 107, 99)")
            } else if (error === "WEAK_PASSWORD : Password should be at least 6 characters"){
                displayRegisterError("Password too weak. Password should be at least 6 characters", "", 
                    "rgb(248, 107, 99)")
            }
        }   
        
        function loginUser(email, password) {
            var formData = new FormData();
            formData.append('email', email);
            formData.append('password', password);
        
            var requestOptions = {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken"),
                },
                redirect: 'follow'
            };
            
            fetch('/login/', requestOptions)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        handleLoginError(data.error);
                    } else {
                        console.log('Login successful!');
                        localStorage.setItem("idToken", data.idToken);
                        location.reload();
                    }
                })
                .catch(error => console.error('Request error:', error));
                
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            var registerBtn = document.getElementById('registerBtn');
            var emailInput = document.getElementById('register-email');
            var passwordInput = document.getElementById('register-password');
            
            registerBtn.addEventListener('click', function(event) {
                event.preventDefault(); 
                
                var email = emailInput.value;
                var password = passwordInput.value;
                
                registerUser(email, password);
            });
        });
        
        function registerUser(email, password) {
            var formData = new FormData();
            formData.append('email', email);
            formData.append('password', password);
            
            var requestOptions = {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken"),
                },
                redirect: 'follow'
            };
        
            
            fetch('/register/', requestOptions)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        handleRegisterError(data.error);
                    } else {
                        document.getElementById("userRegisterForm").style.display = "none";
                        document.getElementById("userLoginForm").style.display = "block";
                        document.getElementById("userLoginForm").reset();
                        document.getElementById("verifyEmailForm").style.display = "block";
                    }
                })
                .catch(error => console.error('Błąd podczas wysyłania żądania:', error));
        }
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>